.register-container .left25 {
 margin-top: 6%;
}

.register-container label {
  font-size: 20px;
}

.register-container input {
  width: 80%;
  font-size: 32px;
  margin: 5px 0;
  padding: 0 10px;
  border: 1px #ccc solid;
}

.register-container .button {
  width: 45%;
  margin: 20px 5px 0;
  padding: 0;
}

.register-container input#checkbox {
  text-align: left;
  width: 0;
  padding: 0;
  margin: 0;
}

.register-container h2 {
  font-size: 21px;
}