.container {
  display: flex;
  text-align: center;
}

.link-blue, .link-register {
  font-size: 24px;
}

.link-blue {
  color: #093E80;
}

.link-register, .link-register a, .link-register a:visited {
  padding-top: 30px;
  color: #333;
}
